h1 {
    font-family: sans-serif;
    text-align: center;
}

#todays-challenge {
    color: rgb(148, 6, 6);
    font-weight: bold;
    font-size: 52px;
}

img {
    width:  195px;
    height: 195px;
    border-radius: 100px;
}

body {
    margin: 50px;
}