header {
    margin-bottom: 64px;
}
body {
    background-color: rgb(247, 201, 208);
    text-align: center;
    color: rgb(94, 86, 86);
}

h1 {
    font-family: 'Oswald' , sans-serif;
    margin: 12px;
}

h2 {
    color: rgb(187, 13, 45);
}

/* header p {
    margin-bottom: 36px;
} */

p {
    font-family: 'Fira Sans' , sans-serif;
    margin-bottom: 36px;
}

a {
    padding: 8px;
    font-family: 'Fira Sans' , sans-serif;
    background-color: rgb(222, 54, 79);
    color: white;
    border: 1px solid rgb(167,17,8);
    border-radius: 4px;
    font-size: 24px;
}

a:hover {
    text-decoration: underline;
}

.highlight-goal {
    margin: 32px;
    background-color: rgb(223,136,124);
    border-radius: 6px;
}
#description {
margin-bottom: 36px;
}
